body{
    margin: 0;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}

#banner{
    margin: 0;
    height: 90px;
    background-image: url(../img/pattern.png);
    background-color: #4ea0ff;
    background-size: 30%;

}
#icona{
    height: 3rem;
    padding: 16px;
    padding-left: 0;
}

#titolo{
    margin: 0;
}

#autore{
    color: lightgray;
}

#data{
    font-size: 0.6rem;
}

.foto-tim{
margin: 0;
height: 300px;
}

#foto-tim1{
    height: 300px;
    max-width:60%;
}

#foto-tim2{
    height: 300px;
    max-width: 40%;
}

#didascalia{
    font-size: 0.5rem;
}


thead{
    background-color: #20a9e5;
}

#tabella{
    border-spacing: 0;
}

.corpo-tabella{

    background-color: #b1e5f2;
}

th,td{
    text-align: left;
}

.tabella-bianca{
    background-color: white;
}

h3{
    color: lightgrey;
}

figure{
    margin: 0;
}

#monitorlorem{
    position: relative;
    color: white;

}

#grafico{
    position: relative;
    color: white;
}

.scrittalink{
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    top: 8px;
    left: 16px;
}

